<% if current_user %>
<h3>User: <%= current_user.email %></h3>
 <div class="container">
<% project = Project.all %>
    <% project.each do |project| %>
        <div class="row justify-content-md-center">
            <div class="col-4 mt-4">
                <div class="card text-center shadow-none mb-5 bg-light rounded">
                        <div class="card">
                            <div class="card-body">
                        <h5 class="card-title"><%= project.title %></h5>
                        <p class="card-text"><%= project.details %></p>
                        <%= link_to 'Show project', project, class: 'btn btn-primary'%>
                    </div>
                </div>
            </div>
        </div>
<% end %>
<% else %>
<div class="jumbotron text-center">
    <h2>Welcome to the Project Management App.</h2>
</div>

<div class="row">
    <div class="col-sm-3 mx-auto">
        <div class="card mx-auto">
            <div class="card-body mx-auto">
            <h5 class="card-title mx-auto">Premium Plan</h5>
            <div class="features mx-auto">
                <ul>
                <li>Unlimited Image Uploads</li>
                <li>Responsive design</li>
                <li>Access anywhere</li>
                </ul>
            </div>
            <p class="card-text">One time payment: $10</p>
                <%# <%= link_to 'C', checkout_path, class: 'btn btn-success sign-up' %>
            </div>
        </div>
    </div>
</div>
<% end %>