<div class="page-header">
  <h2><Strong><%= @project.title %></Strong></h2>
</div>

<dl class="dl-horizontal">
  <dd><%= @project.details %></dd>

  <h5><strong>Estimated completion date:</strong></h5>
  <% if @project.expected_completion_date != nil %>
  <dd>
    <%= @project.expected_completion_date %>
    </dd>
    <% else %>
    <dd>
      <i> Edit to add a date</i>
    </dd>
    <%end%>

</dl>
<button type="button" class="btn btn-primary"><%= link_to "Edit", 
              edit_project_path(@project) %>  
              </button>
<button type="button" class="btn btn-danger"><%= link_to "Delete", 
              project_path(@project),data: {turbo_method: :delete, 
              turbo_confirm: "Are you sure you want to delete?" } %>  
              </button>
<div class='container mt-5'>
  <div></div>

<h3>Artifacts</h3>
<%= render 'artifacts/list', artifacts: @project.artifacts %>
<br />
<br />
</div>
<%= link_to 'Return to Home', root_path, :class => 'btn btn-secondary'  %>
