<%- model_class = Artifact -%>
<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:key) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% artifacts.each do |artifact| %>
      <tr>
        <td><%= link_to artifact.name, artifact_path(artifact), class: 'main-link' %></td>
        <td>
        <td>
              <button type="button" class="btn btn-danger"><%= link_to "Delete", 
              artifact_path(artifact, :from => "list"),data: {turbo_method: :delete, 
              turbo_confirm: "Are you sure you want to delete?" } %>  
              </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Artifact', new_artifact_path(project_id: @project.id),
            :class => 'btn btn-success' %>
</div>

     