<p style="color: green"><%= notice %></p>

<%- model_class = Project -%>
<div class="page-header">
  <h3><%= @artifact.name %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @artifact.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:key) %>:</strong></dt>
  <dd><%= @artifact.key %></dd>
  <dt><strong><%= model_class.human_attribute_name(:project_id) %>:</strong></dt>
  <dd><%= Project.find(@artifact.project_id).title %></dd>
</dl>
<%= image_tag(@artifact.photo, width: 200) if @artifact.photo.attached? %>
<br>
<br>
<%= link_to 'Back', project_path(@artifact.project_id), :class => 'btn btn-primary'  %>
<button type="button" class="btn btn-primary"><%= link_to "Edit", 
              edit_artifact_path(@artifact) %>  
              </button>
<button type="button" class="btn btn-danger"><%= link_to "Delete", 
               artifact_path(@artifact),data: {turbo_method: :delete, 
              turbo_confirm: "Are you sure you want to delete?" } %>  
              </button>